.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
 }

 .logo {
   position: absolute;
   top: 5px;
   right: 10px;
 }

 .small{
    width: 35px;
    height: 35px;
 }

 .large{
   width: 65px;
   height: 65px;
}
 
 .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    padding: 15px;
    box-shadow: 0 0 .1rem #fff,
                0 0 .1rem #fff,
                0 0 1rem #bc13fe,
                0 0 0.3rem #bc13fe,
                0 0 0.8rem #bc13fe,
                inset 0 0 0.7rem #bc13fe;
 }
 
 
 .dashboard-card-content {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    justify-content: center;
    align-items: stretch;
 }
 
 mat-card {
    display: flex;
    flex-direction: column;
    /* background: #0f001dcb; */
    background: #0f001dcb;
    background: linear-gradient(180deg, #311263 0%, #0f001dcb 100%);
    padding: 0.4em;

    border-radius: 2rem;
    border: 0.2rem solid rgb(255, 254, 189);
 }

 .title{
   color: white;
 }
