<div class="container">
    <h2><img src="assets/images/worldofwaves/logo_300.png"> World Of Waves <img src="assets/images/worldofwaves/logo_300.png"></h2>
    <div class="howto">
        <h4>Worlds First Charity Based NFT Marketplace And Crypto Token For Planet Conservation</h4>
        <h3>
            World of Waves was founded as a nature conservation effort fueled by the intricate world of cryptocurrency combined with a passion for the wildlife preservation. Driven by an experienced and transparent crew with over 40 years of experience in technology, World of Waves holds key to empower people around the world to better safeguard planet ecosystem.
        </h3>
        <h3>
            Their strategy to leverage WOW tokens as the primary tool for driving adoption and user acquisition, while building NFT marketplace solution as the major source of charitable revenue creates and self-sustaining cycle. Check out their website for more info: <a href="https://wow.surf/" target="_blank">wow.surf</a>. Or follow them on <a href="https://twitter.com/world_of_waves" target="_blank">Twitter</a>
        </h3>
    </div>
</div>
