<video class="" id="redpandabg" src="../../../assets/videos/redpanda-jungle-video.mp4" autoplay loop playsinline muted></video>
<div *ngIf="connectionError" class="outer-container">
    <h1 class="white">Connect your wallet to continue...</h1>
    <h2 class="white">If you are on mobile, make sure your are using a web3 browser like Metamask Browser.</h2>
  </div>
  <!--dash.component.html-->
  <div *ngIf="!connectionError" class="outer-container">
    <div class="grid-container">
      <!-- <h1 class="mat-h1">Dashboard</h1> -->
      <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" [rowHeight]="rowHeight">
        <!-- Buy Panel -->
        <mat-grid-tile [colspan]="( cardLayout | async )?.buy?.cols" [rowspan]="( cardLayout | async )?.buy?.rows">
          <app-card title="Red Panda Donate" logo="assets/images/redpanda/gradientlogoSMALL.png" size="s">
            <app-enter-draw-card [charity]="'Red Panda'"></app-enter-draw-card>
          </app-card>
        </mat-grid-tile>

        <!--Stats Panel-->
        <mat-grid-tile [colspan]="( cardLayout | async )?.stats?.cols" [rowspan]="( cardLayout | async )?.stats?.rows">
            <app-card title="Donate Airdrop" logo="assets/images/redpanda/gradientlogoSMALL.png" size="s">
              <app-charity-explainer-card></app-charity-explainer-card>
            </app-card>
        </mat-grid-tile>
        
        <!-- Red Panda Panel -->
        <mat-grid-tile [colspan]="( cardLayout | async )?.explainer?.cols" [rowspan]="( cardLayout | async )?.explainer?.rows">
          <app-card title="Information">
            <app-redpanda-info-card title="Information"></app-redpanda-info-card>
          </app-card>
        </mat-grid-tile>

        <!--Video Panel-->
        <mat-grid-tile [colspan]="( cardLayout | async )?.video?.cols" [rowspan]="( cardLayout | async )?.video?.rows">
          <app-card title="Watch" logo="assets/images/redpanda/gradientlogoSMALL.png" size="s">
            <app-video></app-video>
          </app-card>
      </mat-grid-tile>
        
      </mat-grid-list>
    </div>
    <h5 style="color: white; padding-left: 40px; padding-right: 40px; text-align: justify; text-justify: inter-word;"><strong>Disclaimer:</strong> A ticket has no inherent value other than as entry into the Decentra-Lotto draw, and does not give the user any rights or privileges. 
      Due to the complex nature of the Decentra-Lotto contract, ticket refunds are not possible. 
      You alone are responsilbe for doing your own research and being aware of the risks before making any purchase. 
      Never invest more than you are willing to lose.
    </h5>
  </div>
  