table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 1.5rem;
    margin-bottom: 20px;
}

th{
    font-size: 15px;
}

tr{
    font-size: 24px;
}

.mat-table{   
    border-radius: 8px;
    overflow:hidden !important;
}

.stakeButton {
    color: rgb(226, 80, 75);
    background-color: #c2a336;
    animation: flicker 10s infinite alternate;
}

.closeButton {
    color: rgb(209, 201, 201);
    background-color: #ff3f0fda;
}

  .close-button{
    float: right;
    top:-15px;
    right:-5px;
  }
  
  .close-icon {
    transition: 1s ease-in-out;
  }
  
  .close-icon:hover {
    transform: rotate(360deg);
  }
  
  ::ng-deep .icon-outside .close-button{
    float: right;
    top:-52px;
    right:-52px;
  }
  
  ::ng-deep .icon-outside .mat-dialog-container {
   overflow: unset
  }

  
@media only screen and (max-width : 600px) {
    th{
        font-size: 12px;
    }
    
    tr{
        font-size: 16px;
    }
}

@media only screen and (max-width : 400px) {
    table{
        margin-left: -7%;
    }
    th{
        font-size: 10px;
    }
    
    tr{
        font-size: 10px;
    }
}