<div class="container">
    <div class="howto">
        <h2>How it Works</h2>
        <h3>When making a purchase on this page, you will be donating 10% of your ticket purchase to Red Panda instead of it being airdropped back to you.</h3>
        <h3>You will still receive the number of tickets you puchased and be entered into the current draw with a chance to win the Jackpot.</h3>
        <h3>Vist the <a href="/lottery">Lottery</a> page to see the current jackpot, draw stats, to buy and receive the 10% airdrop, and more.</h3>
    </div>
</div>
