.container {
    color: white;
    width: 100%;
  }
  
  .row{
    padding-bottom: 10px;
  }
  
  .column1 {
    float: left;
    width: 40%;
  }
  
  .column2 {
    float: left;
    width: 60%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .justifyCenter {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  h2{
     color:#E0D740;
     font-family: 'LeagueSpartan', 'arial', sans-serif;
  }
  
  hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;            
    background-color:#E0D740;
    height: 1px;
  }

  img{
      height: 70px;
      width: 70px;
  }
  
  .howto{
    overflow: auto; 
    height: 100%;
  }
  
  .dashboard-card {
    background-color: rgba(67, 0, 105, 0);
    color: white;
    text-align: center;
    width: fit-content;
  }
  
  .center {
  margin: 0 auto;
  }
  
  h4{
  font-family: 'LeagueSpartan', 'arial', sans-serif;
  }

