<div class="container">
    <h2><img src="assets/images/dexkit/Profile_transp.png"> DEXKIT <img src="assets/images/dexkit/Profile_transp.png"></h2>
    <div class="howto">
        <h4>The DEXKIT team provides solutions in Decentralized Finances based on ease of use and effectiveness, allowing the users to get the most out of their assets in different blockchains.</h4>
        <h3>
            Swap platform (Uniswap open-source based), Decentralized exchange (with AMM and zero-fees limit orders) and a very complete SuperApp are the highlighted Decentralized solutions that DEXKIT developed in the first year.
        </h3>
        <h3>
            DEXKIT also undertakes the development of Blockchain games debuting with Coin League, where users can compete through price predictions of some top cryptocurrencies, this also with integrations of Chainlink, the giant of oracles, in the Polygon network.
        </h3>
        <h3>
            Check us out at <a href="https://dexkit.com/" target="_blank">www.dexkit.com</a> and follow our progress at <a href="https://twitter.com/dexkit" target="_blank">twitter.com/dexkit</a>!  Also take a look at our NFT marketplace: <a href="https://demo.nft.dexkit.com/" target="_blank">nft.dexkit.com</a>
        </h3>
    </div>
</div>





