<div class="container panel">
    <div class="form-outer">
        <form class="example-container">
            <mat-form-field hintLabel="From" appearance="fill">
                <mat-label *ngIf="user.balance != null" style="font-size: 16px;">Balance: {{user.balance}}</mat-label>
                <input class="form" matInput #input maxlength="10" max="{{user.balance}}" type="number" placeholder="1" [formControl]="balanceControl" min="0" (change)="amountChanged()">
                <mat-hint align="end"><span *ngIf="isBSC" >BSC</span><span *ngIf="!isBSC" >ETH</span></mat-hint>
                <button class="max" matSuffix mat-icon-button aria-label="Max" (click)="setMax(user.balance)">
                    Max
                </button>
                <mat-error *ngIf="balanceControl.invalid">Error - invalid amount</mat-error>
            </mat-form-field>
        </form>
    </div>
    <div class="white center odds">
        <span *ngIf="!isMobile()" (click)="swapChain()">
            <img src="../../../assets/images/swap.png" height="40px"><br/><br/>
        </span>
        <span *ngIf="isMobile()" (click)="swapChain()">
            <br/><img src="../../../assets/images/swap_vert.png" height="40px"><br/><br/>
        </span>
    </div>
    <div class="form-outer">
        <form class="example-container">
            <mat-form-field hintLabel="To" appearance="fill">
                <mat-label *ngIf="user.balance != null" style="font-size: 16px;">DELO <span *ngIf="isBSC" >ETH</span><span *ngIf="!isBSC" >BSC</span> received:</mat-label>
                <input class="form" matInput #input maxlength="10" max="{{user.balance}}" type="number" placeholder="1" [formControl]="receivedControl" min="0" readonly>
                <mat-hint align="end"><span *ngIf="isBSC" >ETH</span><span *ngIf="!isBSC" >BSC</span></mat-hint>
                <mat-error *ngIf="receivedControl.invalid">Error - invalid amount</mat-error>
            </mat-form-field>
        </form>
    </div>
</div>
<div class="buttons">
    <span [matTooltip]="approved == true ? 'Already approved for this amount' : ''">
        <button 
            class="button" 
            [ngClass]="approved == false ? 'buyButton' : ''" 
            mat-raised-button color="primary" 
            [disabled]="loading || approved == true"
            type="button" 
            [style.background]="approved == false ? '#c2a336' : '#ff3f0fda'" 
            (click) = "approveToken()">
            <mat-spinner style="margin: auto; padding: 0px;" [diameter]="25" *ngIf="loading"></mat-spinner>
            <span *ngIf="!loading">Approve</span>
        </button>
    </span>
    <span [matTooltip]="balanceControl.value <= 0 ? 'You must first enter an amount to bridge' : ''">
        <button 
            class="button" 
            [ngClass]="canBridge() ? 'buyButton' : ''" 
            mat-raised-button color="primary" 
            [disabled]="loading || !canBridge()"
            type="button" 
            [style.background]="canBridge() ? '#c2a336' : '#ff3f0fda'" 
            (click) = "bridge()">
            <mat-spinner style="margin: auto; padding: 0px;" [diameter]="25" *ngIf="loading"></mat-spinner>
            <span *ngIf="!loading">Bridge</span>
        </button>
    </span>
</div>