<div class="container">
    <div class="row justifyCenter">       
        <div *ngIf="info == 'true'">
            <div class="howto">
                <h4>
                    Stake your DELO by choosing the amount you would like to stake, and clicking "Approve". Once the transaction completes, the "Stake" button will be enabled.
                    Click "Stake" to then stake your DELO and earn from ticket sales.
                </h4>
                <h4>
                    To unstake, click the switch next to the "Stake DELO" heading. This will display the withdraw panel. 
                    Simply choose the amount and click the "Withdraw" button to withdraw your stake. 2% of your stake will be taxed and divided amongst other stakers.
                </h4>
                <h4>
                    You can see your staking rewards both on the top panels and on he "Harvest" panel. Simply cick the "Harvest" button to claim your rewards. Thre is no fee for harvesting.
                </h4>  
                    
            </div>
        </div> 
        <!-- <hr *ngIf="isMobile()"> -->
        <div *ngIf="info == 'false'">
            <div class="howto">
                <h4>
                    There is no entrance fee to stake, and a nominal 2% withdrawal fee which is distributed amongst other stakers as staking rewards.
                </h4>
                <h4>
                    Staking on the Decentra-lotto platform allows holders to decide how best they would like to earn while holding. 
                </h4>
                <h4>
                    Users may hold and gain a portion of the 2% transaction fee into their wallets, or users may stake to gain a portion of the 20% ticket sale fee that is distributed to stakers. 
                    Users can stake a portion of their holdings also and decide for themselves which is most lucrative.
                </h4>
            </div>
        </div>
    </div>
</div>