<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="index.html">
        <system.webServer>
        <httpProtocol>
            <customHeaders>
            <add name="Cache-Control" value="private, no-store" />
            </customHeaders>
        </httpProtocol>
        </system.webServer>
    </location>
    <system.webServer>
    <httpProtocol>
		<customHeaders>
			<remove name="X-Powered-By" />
		</customHeaders>
	</httpProtocol>   
	<staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        <mimeMap fileExtension=".mp4" mimeType="application/mp4" />
        <mimeMap fileExtension="webp" mimeType="image/webp" />
        <remove fileExtension=".otf" />
        <mimeMap fileExtension=".otf" mimeType="font/otf" />
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <rewrite>
        <rules>
        <rule name="Angular Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="/index.html" />
        </rule>
        </rules>
    </rewrite>
    </system.webServer>
</configuration>