<div class="container">
    <h2><img width="70px" height="70px"src="assets/images/redpanda/RedPandaNamedLogo_whiteCircle.png"> About Red Panda <img width="70px" height="70px"src="assets/images/redpanda/RedPandaNamedLogo_whiteCircle.png"></h2>
    <div class="howto">
        <h4>We are an animal and wildlife welfare charity token on Ethereum (ERC-20)!</h4>
        <p>
            We’ve completed over 100 Donations worldwide, have  partnerships with charitable organizations (RainForest Trust and International Animal Rescue) and are fully backed by a Doxxed team and a non-profit foundation in USA! 
        </p>
        <p>
            We’ve been around since April 2021 and have over 8,000 holders worldwide and growing. Check us out at www.redpanda.earth and follow our progress at https://twitter.com/redpandatoken!  You can also mint one of our Red Panda Pals at nft.redpanda.earth!
        </p>
    </div>
</div>
