<div class="container">
    <h2><img src="assets/images/redpanda/RedPandaNamedLogo_whiteCircle.png"> Red Panda <img src="assets/images/redpanda/RedPandaNamedLogo_whiteCircle.png"></h2>
    <div class="howto">
        <h4>We are an animal and wildlife welfare charity token on Ethereum (ERC-20)!</h4>
        <h3>
            We’ve completed over 100 Donations worldwide, have  partnerships with charitable organizations (RainForest Trust and International Animal Rescue) and are fully backed by a Doxxed team and a non-profit foundation in USA! 
        </h3>
        <h3>
            We’ve been around since April 2021 and have over 8,000 holders worldwide and growing. Check us out at www.redpanda.earth and follow our progress at <a href="https://twitter.com/redpandatoken">twitter.com/redpandatoken</a>!  You can also mint one of our Red Panda Pals at <a href="https://nft.redpanda.earth/">nft.redpanda.earth (ETH NETWORK)</a>!
        </h3>
    </div>
</div>
