<div class="container">
    <h2><img src="assets/images/marsecosystem/256_256.png"> Mars <img class="logoMobile" src="assets/images/marsecosystem/256_256.png">Ecosystem <img  class="logoDesktop" src="assets/images/marsecosystem/256_256.png"></h2>
    <div class="howto">
        <h4>BSC MVBIII Monthly Star - Mars Ecosystem is the First Stablecoin Defi Ecosystem with APR 500%+Pools And Farms</h4>
        <h3>
            Check us out at <a href="https://app.marsecosystem.com/" target="_blank">app.marsecosystem.com</a> and follow our progress at <a href="https://twitter.com/MarsEcosystem" target="_blank">twitter.com/MarsEcosystem</a>!
        </h3>
    </div>
</div>
