
<mat-card class="dashboard-card">
    <mat-card-header>
        <mat-card-title class="title">
            <span *ngIf="isBSC">BSC</span><span *ngIf="!isBSC">ETH</span> &nbsp;<img src="../../../assets/images/swap.png" height="20px">&nbsp; <span *ngIf="isBSC">ETH</span><span *ngIf="!isBSC">BSC</span> &nbsp;DELO Bridge
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>help</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button onclick="window.open('https://docs.decentra-lotto.com/delo-token/bsc-eth-bridge','_blank')" mat-menu-item>Using the bridge</button>
            </mat-menu>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
        <ng-content></ng-content>
        <div class="container white">
            <mat-card class="card-mini">
                <mat-card-header>
                    Price ETH
                </mat-card-header>
                <mat-card-content>
                    {{priceETH}}
                </mat-card-content>
            </mat-card>
            <mat-card class="card-mini">
                <mat-card-header>
                    Price BSC
                </mat-card-header>
                <mat-card-content>
                    {{priceBSC}}
                </mat-card-content>
            </mat-card>
            <mat-card class="card-mini">
                <mat-card-header>
                    Arbitrage
                </mat-card-header>
                <mat-card-content>
                    {{priceDiff}} 
                </mat-card-content>
            </mat-card>
            <mat-card class="card-mini">
                <mat-card-header>
                    Reserve
                </mat-card-header>
                <mat-card-content>
                    {{reserves}} 
                </mat-card-content>
            </mat-card>
        </div>
        <mat-card class="swap-card">
            <mat-card-header class="title">
                DELO&nbsp;<span *ngIf="isBSC">BSC</span><span *ngIf="!isBSC">ETH</span> &nbsp;~>&nbsp; <span *ngIf="isBSC">ETH</span><span *ngIf="!isBSC">BSC</span> &nbsp;
            </mat-card-header>
            <mat-card-content class="swap">
                <app-bridge-swap [reserve]="reserves"></app-bridge-swap>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>





