
<mat-card class="dashboard-card">
    <mat-card-header>
        <mat-card-title class="title">
            DELO Bridge
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>help</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button onclick="window.open('https://www.youtube.com/watch?v=FYbtxt0KhIo','_blank')" mat-menu-item>Using the exchange</button>
                <button onclick="window.open('https://rubic.exchange/faq','_blank')" mat-menu-item>FAQ</button>
                <button onclick="window.open('https://rubic.finance/assets/pdf/OnePager.pdf','_blank')" mat-menu-item>How Rubic Works</button>
            </mat-menu>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
        <ng-content></ng-content>
        <div class="container white">
            <mat-card class="card-mini">
                <mat-card-header>
                    Price ETH
                </mat-card-header>
                <mat-card-content>
                    {{priceETH}}
                </mat-card-content>
            </mat-card>
            <mat-card class="card-mini">
                <mat-card-header>
                    Price BSC
                </mat-card-header>
                <mat-card-content>
                    {{priceBSC}}
                </mat-card-content>
            </mat-card>
            <mat-card class="card-mini">
                <mat-card-header>
                    ETH Reserve
                </mat-card-header>
                <mat-card-content>
                    {{circ}}
                </mat-card-content>
            </mat-card>
            <mat-card class="card-mini">
                <mat-card-header>
                    BSC Reserve
                </mat-card-header>
                <mat-card-content>
                    {{circ}}
                </mat-card-content>
            </mat-card>
        </div>
        <mat-card class="swap-card">
            <mat-card-header class="title pad">
                DELO &nbsp;<span *ngIf="isBSC">BSC</span><span *ngIf="!isBSC">ETH</span> &nbsp;<img src="../../../assets/images/swap.png" height="20px">&nbsp; <span *ngIf="isBSC">ETH</span><span *ngIf="!isBSC">BSC</span> &nbsp;Bridge
            </mat-card-header>
            <mat-card-content class="swap">
                <app-bridge-swap></app-bridge-swap>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>





